<section>
  <div class="container d-flex align-items-center flex-column">
    <div class="titleContent text-center">
      <h2 class="title">About</h2>
      <div class="shape d-flex align-items-center">
        <div class="line"></div>
        <div class="star ms-3 me-3">
          <fa-icon [icon]="faStar"></fa-icon>
        </div>
        <div class="line"></div>
      </div>
    </div>
    <div class="aboutPara row justify-content-center">
      <p class="para">
        Freelancer is a free bootstrap theme created by Start Bootstrap. The
        download includes the complete source files including HTML, CSS, and
        JavaScript as well as optional SASS stylesheets for easy customization.
      </p>
      <p class="para">
        You can create your own custom avatar for the masthead, change the icon
        in the dividers, and add your email address to the contact form to make
        it fully functional!
      </p>
    </div>
    <div class="btn btn-light my-4">Free Download!</div>
  </div>
</section>
