.navbar-collapse {
  /* flex-basis: 100%; */
  flex-grow: 0;
  align-items: center;
}

.navbar {
  background-color: rgb(44, 62, 80);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-link {
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.active {
  color: #fff !important;
  background: #1abc9c;
  border-radius: .5rem !important;
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
}

.navbar-brand{
    color: #fff;
    padding-top: 0.3125rem;
    font-size: 1.75em;
    font-weight: 700;
}