<header class="w-100">
  <div class="container d-flex flex-column align-items-center">
      <div class="imgContainer mb-5">
        <img src="assets/images/image1.svg" alt="profile" />
      </div>
      <h1 class="title">Start Bootstrap</h1>
      <div class="shape d-flex align-items-center">
        <div class="line"></div>
        <div class="star ms-3 me-3">
          <fa-icon [icon]="faStar"></fa-icon>
        </div>
        <div class="line"></div>
      </div>
      <p class="headerPara">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</header>
